.SuperMarketTemplate {
    width: 768px;
    display: flex;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.SuperMarketTemplate h2 {
    margin-top: 0;
}

.SuperMarketTemplate>div {
    padding: 1rem;
    flex: 1;
}

.SuperMarketTemplate .items-wrapper {
    background: #f8f9fa;
}