.ShopItem {
    background: white;
    border: 1px solid #495057;
    padding: 0.5rem;
    border-radius: 2px;
    cursor: pointer;
}

.ShopItem h4 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.ShopItem:hover {
    background: #495057;
    color: white;
}

.ShopItem+.ShopItem {
    margin-top: 1rem;
}