.gnb {
    overflow: hidden;
    background-color: #be3f2f
}

.gnb li {
    float: left;
    width: 33.3%
}

.gnb li:nth-child(2) {
    width: 33.4%
}

.gnb .tab_day {
    display: block;
    padding: 6px 0;
    text-align: center;
    color: #fff
}

.gnb .tab_day .on {
    background-color: #8e2f23
}

dl, ul, ol, menu, li {
    list-style: none
}

a {
    color: #333;
    text-decoration: none
}

a:active, a:hover {
    text-decoration: #d9d9d9;
}